extends base

block content
  h1.ui.header mbi stackoverflow
  p: a.ui.primary.basic.button(href='{% url "so_app:question-create" %}')
    i.plus.icon
    | Ask a question
  form.ui.form(method='post')
    {{ form.as_p }}
  h2 {{ question_list.count }} questions
  .ui.relaxed.divided.list
    for question in question_list
      .item
        i.large.middle.aligned.user.icon
        .content
          a.header(href='{% url "so_app:question-detail" question.id %}') {{ question.title }}
          .description ({{ question.answer_set.all.count }} answers)
// vi:et:sw=2:ts=2
