extends base

block content
  h1.ui.header mbi stackoverflow
  p: button.ui.primary.basic.button#ask_button
    i.plus.icon
    | Ask a question
  .ui.small.modal
    i.close.icon
    .header Ask a quesion
    .content: form.ui.form(action='{% url "so_app:question_create" %}',method='post')
      - csrf_token
      {{ form.as_p }}
    .actions
      .ui.basic.cancel.button Cancel
      .ui.primary.basic.approve.button Ask
  #questions
    h2
    .ui.relaxed.divided.list

// vi:et:sw=2:ts=2
