extends base

block content
  h1.ui.header mbi stackoverflow
  p: button.ui.primary.basic.button#ask_button
    i.plus.icon
    | Ask a question
  .ui.small.modal
    i.close.icon
    .header Ask a quesion
    .content: form.ui.form(method='post')
      - csrf_token
      {{ form.as_p }}
    .actions
      .ui.basic.cancel.button Cancel
      .ui.primary.basic.approve.button Ask
  h2 {{ question_list.count }} questions
  .ui.relaxed.divided.list
    for question in question_list
      .item
        i.large.middle.aligned.user.icon
        .content
          a.header(href='{% url "so_app:question-detail" question.id %}') {{ question.title }}
          .description ({{ question.answer_set.all.count }} answers)
// vi:et:sw=2:ts=2
