extends base

- load widget_tweaks
block content
  h1.ui.header {{ question.title }}
  p {{ question.content }}
  .ui.divider
  form.ui.form(method='post')
    - csrf_token
    .inline.fields
      .thirteen.wide.field
        - render_field form.content rows='1'
      .three.wide.field: button.ui.primary.basic.button(type='submit')
        i.plus.icon
        | Answer
  .ui.divider
  h2.ui.header {{ question.answer_set.count }} answer(s)
  .ui.relaxed.divided.list
    for answer in question.answer_set.all
      .item
        i.large.middle.aligned.user.icon
        .content {{ answer.content }}
// vi:et:sw=2:ts=2
