extends base

- load widget_tweaks
block content
  h1.ui.header
    | {{ question.title }}
    .ui.sub.header
      i.user.icon
      span {{ question.user }}
      i.calendar.outline.icon
      span.date {{ question.date|date:'c' }}
  p {{ question.content }}
  .ui.divider
  form.ui.form(action='{% url "so_app:answer_create" pk=question.pk %}',method='post')
    - csrf_token
    .inline.fields
      .thirteen.wide.field
        - render_field form.content rows='1'
      .three.wide.field: button.ui.primary.basic.button(type='submit')
        i.plus.icon
        | Answer
  .ui.divider
  #answers
  script#answers-tmpl(type='x-tmpl-mustache')
    h2.ui.header {answers.length} answers
    .ui.relaxed.divided.items
      {#answers}
      .item
        .image
          button.ui.basic.mini.icon.button: i.chevron.up.icon
          div {vote}
          button.ui.basic.mini.icon.button: i.chevron.down.icon
        .content
          .meta
            i.user.icon
            span {user__username}
            i.calendar.outline.icon
            span {date}
          | {content}
      {/answers}
// vi:et:sw=2:ts=2
