.ui.container
  padding-top: 2rem

.ui.form label > span
  display: none
.ui.form .error.field label > span
  display: initial

.ui.statistic
  margin-bottom: 0

h1.ui.header > .sub.header
  font-size: 1rem
  *
    margin-right: 0.3em
  .icon
    display: inline-block
    font-size: 1em
    padding-top: 0
    vertical-align: top

#auth
  padding-right: 1em
  padding-top: 1em
  position: absolute
  right: 0
  top: 0

#messages
  padding-right: 1em
  padding-top: 1em
  position: absolute
  right: 0
  top: 0
  z-index: 1001 // higher than semantic-ui dimmer

  >.message
    display: none
    padding-right: 2em

#answers
  .item .image
    text-align: center
    width: 2.5em
    button
      margin-right: 0
