.ui.container
  margin-top: 2rem

.ui.form label > span
  display: none
.ui.form .error.field label > span
  display: initial

.ui.items > .item > .statistic + .content
  padding-left: 1em

.ui.statistic
  margin-bottom: 0
