- load render_bundle from webpack_loader
doctype html
html
  head
    title mbi stackoverflow
    - render_bundle 'main' 'css'
  body
    .ui.container
      block content
    - render_bundle 'main' 'js'
// vi:et:sw=2:ts=2
