- load render_bundle from webpack_loader
doctype html
html

  head

    title mbi stackoverflow
    - render_bundle 'main' 'css'

  body

    #auth
    script#auth-tmpl(type='x-tmpl-mustache')
      {#username}
      | Hello, {.} |&nbsp;
      {/username}
      {#login}
      button.ui.primary.basic.button.login-button
        i.sign.in.icon
        | Login
      {/login}
      {#logout}
      a.logout-button(href="#") logout
      {/logout}

    .ui.container

      .ui.small.modal#login-modal
        i.close.icon
        .header Login
        .content: form.ui.form(action='{% url "account_login" %}',method='post')
          - csrf_token
          p If you have not created an account yet, then please&nbsp;
            a.signup-button(href='#') sign up
            |  first.
          {{ login_form.as_p }}
        .actions
          .ui.basic.cancel.button Cancel
          .ui.primary.basic.approve.button Login

      .ui.small.modal#logout-modal
        i.close.icon
        .header Logout
        .content: form.ui.form(action='{% url "account_logout" %}',method='post')
          - csrf_token
          p Are you sure you want to sign out?
        .actions
          .ui.basic.cancel.button Cancel
          .ui.primary.basic.approve.button Logout

      .ui.small.modal#signup-modal
        i.close.icon
        .header Sign up
        .content: form.ui.form(action='{% url "account_signup" %}',method='post')
          - csrf_token
          {{ signup_form.as_p }}
        .actions
          .ui.basic.cancel.button Cancel
          .ui.primary.basic.approve.button Sign up

      block content

    #messages
    script#message-tmpl(type='x-tmpl-mustache')
      .ui.mini.error.message
        i.close.icon
        | {text}

    - render_bundle 'main' 'js'

// vi:et:sw=2:ts=2
