extends base

block content
  h1.ui.header mbi stackoverflow
  p: button.ui.primary.basic.button#ask-button
    i.plus.icon
    | Ask a question
  .ui.small.modal#login-modal
    i.close.icon
    .header Login
    .content: form.ui.form(action='{% url "account_login" %}',method='post')
      - csrf_token
      {{ login_form.as_p }}
    .actions
      .ui.basic.cancel.button Cancel
      .ui.primary.basic.approve.button Login
  .ui.small.modal#logout-modal
    i.close.icon
    .header Logout
    .content: form.ui.form(action='{% url "account_logout" %}',method='post')
      - csrf_token
      p Are you sure you want to sign out?
    .actions
      .ui.basic.cancel.button Cancel
      .ui.primary.basic.approve.button Logout
  .ui.small.modal#ask-modal
    i.close.icon
    .header Ask a quesion
    .content: form.ui.form(action='{% url "so_app:question_create" %}',method='post')
      - csrf_token
      {{ question_form.as_p }}
    .actions
      .ui.basic.cancel.button Cancel
      .ui.primary.basic.approve.button Ask
  #questions
  script#questions-tmpl(type='x-tmpl-mustache')
    h2.ui.header {questions.length} questions
    .ui.divided.link.items
      {#questions}
      a.item(href='./question/{pk}')
        .ui.mini.statistic.image
          .value {answer__count}
          .label ans
        .content
          .header {title}
          .meta
            i.user.icon
            span {user__username}
            i.calendar.outline.icon
            span {date}
      {/questions}

// vi:et:sw=2:ts=2
