extends base

- load widget_tweaks
block content
  h1.ui.header
    | {{ question.title }}
    .ui.sub.header
      i.user.icon
      span {{ question.user }}
      i.calendar.outline.icon
      span.date {{ question.date|date:'c' }}
  p {{ question.content }}
  .ui.divider
  form.ui.form#answer-form(method='post')
    - csrf_token
    .inline.fields
      .twelve.wide.field
        - render_field answer_form.content rows='1'
      .four.wide.field: .ui.buttons
        button.ui.positive.button(data-action='{% url "so_app:question_comment_create" pk=question.pk %}')
          i.comment.icon
          | Comment
        .or
        button.ui.primary.button(data-action='{% url "so_app:answer_create" pk=question.pk %}')
          i.plus.icon
          | Answer
  .ui.divider
  #answers
  script#answers-tmpl(type='x-tmpl-mustache')
    h2.ui.header {answers.length} answers
    .ui.relaxed.divided.items
      {#answers}
      .item
        .image
          form(action='./answer/{pk}/vote/up')
            - csrf_token
            button.ui.mini.icon.button(class='{up_btn}',type='submit'): i.chevron.up.icon
          div {vote__count}
          form(action='./answer/{pk}/vote/down')
            - csrf_token
            button.ui.mini.icon.button(class='{down_btn}',type='submit'): i.chevron.down.icon
        .content
          .meta
            i.user.icon
            span {user__username}
            i.calendar.outline.icon
            span {date}
          | {content}
      {/answers}

// vi:et:sw=2:ts=2
